@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

/* ======== General Styling ============ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Inter";
  --secondary-font: "Work Sans";
}

html {
  font-size: 10px;
  font-family: "Work Sans", Helvetica, sans-serif;
  background-color: black;
  color: white;
}

body {
  overflow-x: hidden;
}

button {
  width: 12rem;
  padding: 1.4rem;
  border: 1px solid #aaa;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

h2 {
  font-size: 8.3rem;
  font-weight: 700;
  line-height: 7rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/* ============= HEADER ============== */

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header > img {
  position: absolute;
  height: 26vh;
  width: 1px;
  top: 0;
  left: 50%;
}

header article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
header p {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--secondary-font);
}

h1,
.story-wrap p {
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 7rem;
}

h1 {
  text-align: center;
}

h1 span:nth-of-type(2) {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

header > div {
  position: absolute;
  bottom: 2rem;
  display: flex;
  width: 82vw;
  justify-content: space-between;
}

/* ============= STORY WRAP SECTION =========== */

.story-wrap {
  margin-left: 9vw;
}
.story-wrap > p {
  font-family: "Inter";
  line-height: 11rem;
  padding: 17vh 13vw 13vh 0;
}

.stats p {
  line-height: 11rem;
  margin-bottom: 1.7rem;
}

.stats {
  margin-bottom: 10rem;
}

.story-wrap > div {
  position: relative;
}

.story-wrap > div > img {
  height: 100%;
  position: absolute;
  bottom: 0rem;
  right: 1vw;
}

/* ============== ACTION SECTION ========== */

.action {
  width: 100vw;
  background-color: white;
  color: black;
  padding: 50vh 33vw 31vh 33vw;
}
.action > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action h2 {
  padding: 1rem;
}
.action p {
  font-size: 1.6rem;
  line-height: 3rem;
}

.action p:nth-of-type(1) {
  margin-bottom: 95vh;
}

.action-images > img:nth-of-type(1),
.action-images > img:nth-of-type(4),
.action-images > img:nth-of-type(5) {
  width: 25vw;
  height: auto;
}

.action-images > img:nth-of-type(2),
.action-images > img:nth-of-type(3),
.action-images > img:nth-of-type(6) {
  width: 20vw;
  height: auto;
}

.action-images > img:nth-of-type(7) {
  width: 33vw;
  height: auto;
}

/*  ============= ACTION SECTION - POSITIONING OF IMAGES */
.action {
  position: relative;
}

.action-images > img:nth-of-type(1) {
  position: absolute;
  top: -6.7rem;
  right: 11rem;
}
.action-images > img:nth-of-type(2) {
  position: absolute;
  top: 29rem;
  left: 5rem;
}
.action-images > img:nth-of-type(3) {
  position: absolute;
  top: 68rem;
  right: 0;
}
.action-images > img:nth-of-type(4) {
  position: absolute;
  top: 88rem;
  left: 22rem;
}
.action-images > img:nth-of-type(5) {
  position: absolute;
  top: 107rem;
  right: 16rem;
}
.action-images > img:nth-of-type(6) {
  position: absolute;
  top: 137rem;
  left: 0;
}
.action-images > img:nth-of-type(7) {
  position: absolute;
  top: 170rem;
  right: 27rem;
}

/* ========== THE GOLDEN BEAR SECTION ========= */
.golden-bear {
  padding-top: 30vh;
  margin: 0 9vw;
  height: 160vh;
  position: relative;
}

.golden-bear > div:nth-of-type(1),
.poppy-bear > div:nth-of-type(1) {
  display: flex;
  margin-bottom: 30vh;
}

.bear-identifier {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  flex: 1;
}

.bear-identifier > p {
  font-size: 2rem;
}

.quote {
  padding: 4.3rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  flex: 1;
}

.quote p:nth-of-type(1) {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 700;
}
.quote p:nth-of-type(2) {
  font-size: 1.8rem;
}

.golden-bear img:nth-of-type(1) {
  width: 55vw;
  height: auto;
  position: absolute;
  top: 66rem;
  z-index: 1;
}
.golden-bear img:nth-of-type(2) {
  width: 27vw;
  height: auto;
  position: absolute;
  top: 85rem;
  right: 17rem;
  z-index: 1;
}

/*  ============== POPPY BEAR SECTION ============ */

.poppy-bear {
  padding: 50vh 9vw;
  width: 100vw;
  height: 180vh;
  background-color: white;
  color: black;
  position: relative;
}

.poppy-bear img:nth-of-type(1) {
  width: 55vw;
  height: auto;
  position: absolute;
  top: 80rem;
  right: 11rem;
  z-index: 1;
}
.poppy-bear img:nth-of-type(2) {
  width: 27vw;
  height: auto;
  position: absolute;
  top: 100rem;
  left: 24rem;
  z-index: 1;
}

.poppy-bear img:nth-of-type(3) {
  width: 40rem;
  height: auto;
  position: absolute;
  top: -12rem;
  right: -12rem;
  z-index: 1;
  animation: rotating-font 20s infinite linear;
}

@keyframes rotating-font {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*  ============== GRAY AREA ============ */
.gray-area {
  height: 30vh;
  background-color: #f5f5f5;
}
